$color-dark-teal: #1e4b55;
$color-primary-yellow: #f2b94a;
$color-light-teal: #67b3c2;

$color-white: #ffffff;
$color-off-white: #f5f5f5;

$color-schedule-blue: #7bc2d0;

$color-event-cream: #fff9d8;
$color-event-pale-yellow: #fdeab6;
$color-event-light-blue: #d0f0f5;


$rounded-sm : 6px;
$rounded-md : 12px;
$rounded-lg : 24px;
$rounded-full : 100%